- if user_signed_in?
  .header
    .header__left
      = link_to "forBackpackers", root_path, class: "header__left__forBackpackers"
    .header__center2
      = link_to "newpost", new_post_path, class: "header__center2__btn"
      = link_to "mypage", "/users/#{current_user.id}", class: "header__center2__btn"
      = link_to "logout", destroy_user_session_path, method: :delete, class: "header__center2__btn"
    .header__right
      = link_to "https://www.facebook.com/", class: "header__right__btn" do
        = fa_icon 'facebook', class: "header__right__btn--icon"
        %span<>
      = link_to "https://twitter.com/", class: "header__right__btn" do
        = fa_icon 'twitter', class: "header__right__btn--icon"
        %span<>
      = link_to "https://www.instagram.com/", class: "header__right__btn" do
        = fa_icon 'instagram', class: "header__right__btn--icon"
        %span<>

  -# ユーザーがログインしていない場合はこちらを表示
- else
  .header
    .header__left
      forBackpackers
    .header__center
      = link_to new_user_session_path, class: "header__center__btn" do
        explore
    .header__right
      = link_to "https://www.facebook.com/", class: "header__right__btn" do
        = fa_icon 'facebook', class: "header__right__btn--icon"
        %span<>
      = link_to "https://twitter.com/", class: "header__right__btn" do
        = fa_icon 'twitter', class: "header__right__btn--icon"
        %span<>
      = link_to "https://www.instagram.com/", class: "header__right__btn" do
        = fa_icon 'instagram', class: "header__right__btn--icon"
        %span<>