.newfeeds__box__leftbox
  %h1.wrap-title
    newfeed
  - @posts.each do |post|
    = link_to "/posts/#{post.id}", class: "top-list" do
      .top-list__pic
        = image_tag "#{post.images.first.image.url}", width: 250, height: 280
      .top-list__text
        .top-list__text__title
          = post.title
        .top-list__text__comment
          -# rental car / bus tour
          = post.text.truncate(50, separator: /\s/)
        .top-list__text__author
          .top-list__text__author__username
            -# misaki awano /
            = post.country.name
            = post.country.continent.name
          .top-list__text__author__date
            = post.created_at.strftime("%Y.%m.%d")