.contents
  .contents__main
    %section.top
      %ul.slick
        %li
          = image_tag 'Italia-cafe.jpg', class: 'header__image--pic'
        %li
          = image_tag 'Italia-nightview.jpg', class: 'header__image--pic'
        %li
          = image_tag 'Sunflowers.jpg', class: 'header__image--pic'
        %li
          = image_tag 'Mongol-lake.jpg', class: 'header__image--pic'
      %h1.top__title
        Explore Iceland
    %section.pickupfeeds
      %h1.pickupfeeds__title
        .pickupfeeds__title__left
          FEED
        .pickupfeeds__title__right
          Pickup Top

      .pickupfeeds__box
        .pickupfeeds__box__picture
          .pickupfeeds__box__picture__pic
            feedpic
          .pickupfeeds__box__picture__title
            nature
          .pickupfeeds__box__picture__sub
            How beautiful icecaves are!
        .pickupfeeds__box__picture
          .pickupfeeds__box__picture__pic
            feedpic
          .pickupfeeds__box__picture__title
            nature
          .pickupfeeds__box__picture__sub
            How beautiful icecaves are!
        .pickupfeeds__box__picture
          .pickupfeeds__box__picture__pic
            feedpic
          .pickupfeeds__box__picture__title
            nature
          .pickupfeeds__box__picture__sub
            How beautiful icecaves are!

  .contents__sub
    %section.middle
      .middle__box
        .middle__box__pic
          %h1.middle__box__pic__title
            = current_user.name 
    %section.newfeeds
      .newfeeds__box
        = render "shared/newfeeds"
        .newfeeds__box__right
          .newfeeds__box__right__country
            Where to next? 
            = link_to "", class: "header__center__btn" do
              &emsp;アジア
            = link_to "/countries/1", class: "header__center__btn" do
              &nbsp;&emsp;・韓国
            = link_to "/countries/2", class: "header__center__btn" do
              &nbsp;&emsp;・中国
            = link_to "/countries/3", class: "header__center__btn" do
              &nbsp;&emsp;・台湾
            = link_to "/countries/4", class: "header__center__btn" do
              &nbsp;&emsp;・ベトナム
            = link_to "/countries/5", class: "header__center__btn" do
              &nbsp;&emsp;・シンガポール
            = link_to "/countries/6", class: "header__center__btn" do
              &nbsp;&emsp;・タイ
            = link_to "", class: "header__center__btn" do
              &nbsp;&emsp;・ヨーロッパ
            = link_to "/countries/7", class: "header__center__btn" do
              &nbsp;&emsp;・イギリス
            = link_to "/countries/8", class: "header__center__btn" do
              &nbsp;&emsp;・フランス
            = link_to "/countries/9", class: "header__center__btn" do
              &nbsp;&emsp;・ドイツ
            = link_to "/countries/10", class: "header__center__btn" do
              &nbsp;&emsp;・オーストリア
            = link_to "/countries/11", class: "header__center__btn" do
              &nbsp;&emsp;・ハンガリー
            = link_to "/countries/12", class: "header__center__btn" do
              &nbsp;&emsp;・チェコ
            = link_to "/countries/13", class: "header__center__btn" do
              &nbsp;&emsp;・スペイン
            = link_to "/countries/14", class: "header__center__btn" do
              &nbsp;&emsp;・ポルトガル
            = link_to "", class: "header__center__btn" do
              &emsp;北欧
            = link_to "/countries/15", class: "header__center__btn" do
              &nbsp;&emsp;・アイスランド
            = link_to "", class: "header__center__btn" do
              &emsp;その他
            = link_to "/countries/16", class: "header__center__btn" do
              &nbsp;・カナダ
            = link_to "/countries/17", class: "header__center__btn" do
              &nbsp;・メキシコ
            = link_to "/countries/18", class: "header__center__btn" do
              &nbsp;・オーストラリア
            = link_to "/countries/19", class: "header__center__btn" do
              &nbsp;・エジプト
            = link_to "/countries/20", class: "header__center__btn" do
              &nbsp;・コートジボワール