- if user_signed_in?
  .header
    .header__left
      forBackpackers
    .header__center2
      = link_to "explore", "", class: "header__center2__btn"
      = link_to "explore", "", class: "header__center2__btn"
      = link_to "explore", "", class: "header__center2__btn"
    .header__right
      = link_to "https://www.facebook.com/", class: "header__right__btn" do
        = fa_icon 'facebook', class: "header__right__btn--icon"
        %span<>
      = link_to "https://twitter.com/", class: "header__right__btn" do
        = fa_icon 'twitter', class: "header__right__btn--icon"
        %span<>
      = link_to "https://www.instagram.com/", class: "header__right__btn" do
        = fa_icon 'instagram', class: "header__right__btn--icon"
        %span<>

  -# ユーザーがログインしている場合はこちらを表示
- else
  .header
    .header__left
      forBackpackers
    .header__center
      = link_to "https://www.facebook.com/", class: "header__center__btn" do
        explore
    .header__right
      = link_to "https://www.facebook.com/", class: "header__right__btn" do
        = fa_icon 'facebook', class: "header__right__btn--icon"
        %span<>
      = link_to "https://twitter.com/", class: "header__right__btn" do
        = fa_icon 'twitter', class: "header__right__btn--icon"
        %span<>
      = link_to "https://www.instagram.com/", class: "header__right__btn" do
        = fa_icon 'instagram', class: "header__right__btn--icon"
        %span<>

.contents
  .contents__main
    %section.top
      %ul.slick
        %li
          = image_tag 'Italia-cafe.jpg', class: 'header__image--pic'
        %li
          = image_tag 'Italia-nightview.jpg', class: 'header__image--pic'
        %li
          = image_tag 'Sunflowers.jpg', class: 'header__image--pic'
        %li
          = image_tag 'Mongol-lake.jpg', class: 'header__image--pic'
      %h1.top__title
        Explore Iceland
    %section.pickupfeeds
      %h1.pickupfeeds__title
        .pickupfeeds__title__left
          FEED
        .pickupfeeds__title__right
          Pickup Top

      .pickupfeeds__box
        .pickupfeeds__box__picture
          .pickupfeeds__box__picture__pic
            feedpic
          .pickupfeeds__box__picture__title
            nature
          .pickupfeeds__box__picture__sub
            How beautiful icecaves are!
        .pickupfeeds__box__picture
          .pickupfeeds__box__picture__pic
            feedpic
          .pickupfeeds__box__picture__title
            nature
          .pickupfeeds__box__picture__sub
            How beautiful icecaves are!
        .pickupfeeds__box__picture
          .pickupfeeds__box__picture__pic
            feedpic
          .pickupfeeds__box__picture__title
            nature
          .pickupfeeds__box__picture__sub
            How beautiful icecaves are!

  .contents__sub
    %section.middle
      .middle__box
        .middle__box__pic
          %h1.middle__box__pic__title
            user_name
    %section.newfeeds
      .newfeeds__box
        .newfeeds__box__leftbox
          %h1.wrap-title
            newfeed
          - @posts.each do |post|
            = link_to "/posts/#{post.id}", class: "top-list" do
              .top-list__pic
                = image_tag "#{post.images.first.image.url}", width: 250, height: 280
              .top-list__text
                .top-list__text__title
                  = post.title
                .top-list__text__comment
                  -# rental car / bus tour
                  = post.text
                .top-list__text__author
                  .top-list__text__author__username
                    -# misaki awano /
                    = post.country.name
                    = post.country.continent.name
                  .top-list__text__author__date
                    2019.7.16
        .newfeeds__box__right
          -# .newfeeds__box__right__country
          Country
          = link_to "https://www.facebook.com/", class: "header__center__btn" do
            ・Asia
          = link_to "https://www.facebook.com/", class: "header__center__btn" do
            ・Africa
          = link_to "https://www.facebook.com/", class: "header__center__btn" do
            ・Europe
          = link_to "https://www.facebook.com/", class: "header__center__btn" do
            ・North America
          = link_to "https://www.facebook.com/", class: "header__center__btn" do
            ・Oceania