= form_with(model: @posts, local: true, multipart: true) do |f|
  .log-body
    .log-body__container
      .log-body__container__header
      .main-container
        .post-box
          %h1.post-box__top
            投稿フォーム
          %h2.post-box__title
            %div.post-box__title__box
              = f.label :"題名", class: "post-box__title__label"
              %div.post-box__title__name 必須
            = f.text_area :title, placeholder: "例.   アイスランド（７日間）", class:"post-box__title__input"
          %h2.post-box__text
            %div.post-box__text__box
              = f.label :"本文", class: "post-box__text__label"
              %div.post-box__title__name 必須
            = f.text_area :text, placeholder: "旅行の詳細を記入してください", class:"post-box__text__input", rows: "7", cols: "30"
          %h2.post-box__country
            %div.post-box__country__box
              = f.label :"国", class: "post-box__country__label"
              %div.post-box__title__name 必須
            = f.collection_select :country_id, Country.all, :id, :name, {prompt: "--"}, {class:"post-box__country__input"}
          .post-box__upload-box
            %h2.post-box__upload-box__head
              = f.label :"投稿画像"
            %br
              最大3枚まで投稿できます
            %br
              .post-images-box
                = f.fields_for :images do |image|
                  %label.image
                    = image.file_field :image, name: "post[images_attributes][0][image]", multipart: true, id: "myImage", type: "file", class: "hidden"
                    .file-field-text
                      クリックしてイメージを
                      %br
                      アップロード
                    .uploads
                      .post-box__upload__images-box
                        %img#post-box__upload__image
                  %label.image
                    = image.file_field :image, name: "post[images_attributes][1][image]", multipart: true, id: "myImage2", type: "file", class: "hidden"
                    .file-field-text
                      クリックしてイメージを
                      %br
                      アップロード
                    .uploads
                      .post-box__upload__images-box
                        %img#post-box__upload__image2
                  %label.image
                    = image.file_field :image, name: "post[images_attributes][2][image]", multipart: true, id: "myImage3", type: "file", class: "hidden"
                    .file-field-text
                      クリックしてイメージを
                      %br
                      アップロード
                    .uploads
                      .post-box__upload__images-box
                        %img#post-box__upload__image3
              .post-images-form
                = f.submit "送信する", id: 'text__submit-button'
    .log-body__container__footer